
   <h1>Comentarios</h1>



<% @comentarios.each do |comen| %>
       <div class="comentario"  >
         <p>Nombre : <%= comen.nombre %> </p>
         <p> Email : <%= comen.email %> </p>
         <p>Cuentanos : <%= comen.content %></p>
      </div>
   <%end%>











