// Place all the styles related to the comentarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comentario{
  border: solid black 1px;
  border-radius: 10px;
  font-size: 17px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
}

.elemento{
  margin-top: 5px;
  margin-bottom: 5px;
}