// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ajustar{
  margin-top: 20px;
  margin-bottom: 20px;
  clear: both;
}

#content #user {
  border: 1px solid #CACACA;
  width: 90%;
  margin: auto;
  padding: 10px;

}
#content #user .user_info{
  clear: both;
  min-height: 150px;
}
#content #user img{
  border: 1px solid #CACACA;
  background:  #F1F1F1;
  background: -moz-linear-gradient( #F1F1F1,  #E0E0E0);
  background: -webkit-linear-gradient( #F1F1F1,  #E0E0E0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e0e0e0')";
  padding: 4px;
  border-radius: 5px;
  width: 10%;
  float: left;
  margin-left: 38px;
  margin-top: 25px;
}

#content #user .user_details{
  width: 70%;
  float: left;
  margin-left: 15px;

}

#content #user .user_details table{
  margin-top: 10px;
}

#content #user .user_details th{
  background: 0;
  border: none;
  text-align: left;
  color: #000000;
}

#content #user .user_details td{
  background: 0;
  border: none;
  text-align: left;
  color: #000000;
}

#content #user .user_repos{
  margin-top: 15%;
  margin-left: 38px;
  width: 30%;
  float: left;
}


#content #user .user_repos .repo{
  border: 1px solid #CACACA;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;



}

#content #user .user_repos .repo .title{
  padding: 4px;
  min-height: 35%;
  border-bottom: 1px solid #CACACA;
  font-size: 10px;

}


#content #user .user_repos .repo .title a{
  color: #4183C4;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

#content #user .user_repos .repo .description{
  padding: 4px;
  background: #FAFAFA;
  background: -moz-linear-gradient(#FAFAFA,#EFEFEF);
  background: -webkit-linear-gradient(#FAFAFA,#EFEFEF);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#efefef')";

  min-height: 40px;

}

#content #user .user_repos .repo .description .desc{
  font-size: 14px;
  color: #444;

}

#content #user .user_repos .repo .description .updated{
  font-size: 11px;
  color: #888;


}

#content .user-gist{
  width: 60%;
  float: left;
  margin-top: 25%;
  margin-left: 15px;
}

.gist{
  width: 100%;
  font-size: 70%;

}


