// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content .login {
  margin-left: auto;
  margin-right: auto;
  width  : 35%;
}

#content .login tbody{
  font-size: 23px;

}
#content .login .entrada {
  border-radius: 7px;
  padding: 3px;
}
#content .login #cooperativa {
    border-radius: 7px;
    padding: 3px;
    width : 100%;
    background-color: #f5f5f5;
}
#content .login .submit {
  border-radius: 7px;
  width : 100%;
  padding : 3px;
  font-style: bold;
  font-size: 15px;
  background:  #F1F1F1;
  background: -moz-linear-gradient( #F1F1F1,  #E0E0E0);
  background: -webkit-linear-gradient( #F1F1F1,  #E0E0E0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e0e0e0')";
  border-bottom: 1px solid #CACACA;
  border: 1px solid #DDD;
  box-shadow: 0 1px 0 #FAFAFA,inset 0 1px 0 #FAFAFA;
  color: #09C;
  font-weight: bold;
}


#content table{
  border-spacing: 0px;
  width: 100%;
  margin: auto;
  margin-top:50px;
  border-radius: 10px;

}

#content .user_info{
  min-height: 250px;
}

#content .user_info table .tabla-izq{
  border-radius: 5px 5px 0 0;

}

#content .user_info table .tabla-der{
  border-radius: 5px 5px 0 0;
}

#content .user_info  table .espacio{
  background: white;
  border-color: transparent;
}

#content .user_info table .total.der{
  border-radius: 0 0 5px 0;
}

#content .user_info table .total.izq{
  border-radius: 0 0 0 5px ;
}


#content table th {
  border: 1px solid #CACACA;
  padding: 3px;
  background: #829AA8;
  background: -moz-linear-gradient(#829AA8,#405A6A);
  background: -webkit-linear-gradient(#829AA8,#405A6A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#829aa8',endColorstr='#405a6a')";
  color: white;
  border: 1px solid #677C89;
  border-bottom-color: #6B808D;
}

#content .titulo2{
  background: #E9F1F4;
  color: #333;
  border: 1px solid #E1E1E2;
  font-size: 13px;
  width: 20%;
}

#content .user_info table td {
  border: 1px solid #CACACA;
  padding: 3px;
  background-color:  #FAFAFB;
}

#content .user_info .tabla.izq{
  float: left;
  width: 50%
}
#content .user_info .tabla.der{
  float: right;
  width: 50%;
}
.ajustar{
margin-top: 20px;
margin-bottom: 20px;
clear: both;
}

#content .detalles{
  margin-top: 20px;
}

#content .detalles .titulo{
  border-radius: 5px 5px 0 0  ;
}

