<div class="logo">

  <h2 title="Ruben, Mateo y Sebastian">RMS</h2>
  <h4>
    <%= link_to "Ruben", "/users/rderoldan1", :class => "nombre" %> -
    <%= link_to "Mateo", "/users/jvidalba1", :class => "nombre" %> -
    <%= link_to "Sebastian", "/users/jvelezpo", :class => "nombre" %>
  </h4>
</div>
<nav class="bar">
  <ul>
    <li><%= link_to 'Inicio', root_path %> </li>
  </ul>
</nav>
